---
import Layout from '@/layouts/Layout.astro'
import DataLayer from '@/components/DataLayer'
import SongList from '@/components/controller/SongList'
import LyricControl from '@/components/controller/LyricControl'
import ControllerPeer from '@/components/ControllerPeer'
import ConnectStatusBar from '@/components/controller/ConnectStatusBar'
---

<Layout title="Controller">
  <DataLayer client:only />
	<main class="flex flex-col w-screen h-full">
    <SongList client:only />
    <div class="flex-1 overflow-hidden">
      <!-- <ControllerPeer client:only /> -->
      <LyricControl client:load />
    </div>
    <ConnectStatusBar client:only />
  </main>
</Layout>

