---
import Layout from '@/layouts/Layout.astro'
import DataLayer from '@/components/DataLayer'
import SongList from '@/components/controller/SongList'
import LyricControl from '@/components/controller/LyricControl'
import ControllerPeer from '@/components/ControllerPeer'
---

<Layout>
  <DataLayer client:only />
	<div class="w-screen h-100dvh overflow-hidden">
    <SongList client:only />
    <main class="w-screen h-full overflow-hidden">
      <ControllerPeer client:only />
      <LyricControl client:load />
    </main>
  </div>
</Layout>

