---
import Layout from '@/layouts/Layout.astro'
import DataLayer from '@/components/DataLayer'
import PresenterPeer from '@/components/PresenterPeer'
import LyricShow from '@/components/presenter/LyricShow'
---

<Layout>
  <DataLayer client:only />
	<PresenterPeer client:only />
	<div class="w-screen h-100dvh overflow-hidden">
    <LyricShow client:load />
  </div>
</Layout>

