---
import Layout from '@/layouts/Layout.astro'
import WelcomeBox from '@/components/WelcomeBox'
---

<Layout title="Mayday Teleprompter">
  <main class="fcc m-6">
    <WelcomeBox client:load />
  </main>
</Layout>
