---
import Layout from '@/layouts/Layout.astro'
import WelcomeBox from '@/components/index/WelcomeBox'
---

<Layout title="MayScreen">
  <main class="flex flex-col justify-center max-w-lg h-full mx-auto p-6">
    <h1 class="my-6 px-2">May<span class="fg-primary">Screen</span></h1>
    <WelcomeBox client:load />
  </main>
</Layout>@/components/index/WelcomeBox