---
import Layout from '@/layouts/Layout.astro'
import DataLayer from '@/components/common/DataLayer'
import ScreenPeerLayer from '@/components/screen/ScreenPeerLayer'
import StatusView from '@/components/common/StatusView'
import Page from '@/components/screen/Page'
import FullScreenControlArea from '@/components/screen/FullScreenControlArea'
import FloatControlBar from '@/components/screen/FloatControlBar'
---

<Layout title="屏幕" class="bg-black text-white w-screen h-full" themeColor="#000000">
  <DataLayer client:only />
	<ScreenPeerLayer client:only />
  <div class="absolute flex items-center justify-center bottom-1 left-2 bg-transparent p-1 z-10">
    <StatusView client:load />
  </div>
  <Page client:load />
  <FullScreenControlArea client:only />
  <div class="absolute bottom-2 right-2 z-10">
    <FloatControlBar client:only />
  </div>
</Layout>
