@import 'ark.css';

:root {
  --c-scroll: #d9d9d9;
  --c-scroll-hover: #bbbbbb;
  --c-shadow: #00000008;
  --c-primary: #0369a120;
}

:focus {
  outline: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --c-scroll: #333333;
    --c-scroll-hover: #555555;
    --c-shadow: #ffffff08;
    --c-primary: #7dd3fc20;
  }
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--c-scroll);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--c-scroll-hover);
}

.anim-text-out {
  animation: text-out 400ms ease-out;
  animation-fill-mode: forwards;
}

.loading-anim::before {
  content: ' ';
  position: absolute;
  top: 0;
  bottom: 0;
  background-image: linear-gradient(90deg, #ffffff00 0%, #ffffff66 35%, #ffffff66 65%, #ffffff00 100%);
  width: 60%;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: progress-bar-loop;
}

@keyframes text-out {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-6px);
    opacity: 0;
  }
}

@keyframes progress-bar-loop {
  from {
    left: -60%;
  }
  to {
    left: 110%;
  }
}

@media(hover: hover) and (pointer: fine) {
  .hv-base {
    @apply hover:bg-base-100;
  }
}