[data-scope='slider'][data-part='thumb'] {
  background: blue;
  width: 16px;
  height: 16px;
  border-radius: 999px;
}
 
[data-scope='slider'][data-part='track'] {
  background: silver;
  height: 8px;
  flex: 1;
}
 
[data-scope='slider'][data-part='control'] {
  position: relative;
  align-items: center;
  display: flex;
}