[data-scope='dialog'][data-part='backdrop'] {
  position: fixed;
  inset: 0;
  z-index: 200;
  background: rgba(0, 0, 0, 0.5);
}

[data-scope='dialog'][data-part='container'] {
  position: fixed;
  inset: 0;
  z-index: 200;
  display: flex;
  align-items: center;
  justify-content: center;
}

[data-scope='dialog'][data-part='content'] {
  @apply w-full max-w-md;
  @apply rounded-xl border border-dark;
  background: theme('colors.black');
}

[data-scope='dialog'][data-part='content'][data-state='open'] {
  animation: anim-in 200ms ease-out;
}
 
[data-scope='dialog'][data-part='content'][data-state='closed'] {
  animation: anim-out 200ms ease-in;
}

[data-scope='dialog'][data-part='title'] {
  @apply font-semibold leading-none;
}

[data-scope='dialog'][data-part='description'] {
  @apply text-sm fg-lighter;
}

