[data-scope='popover'] {
  @apply z-20;
}

[data-scope='popover'][data-part='trigger'] {
  @apply bg-transparent;
}

[data-scope='popover'][data-part='close-trigger'] {
  @apply bg-transparent;
}

[data-scope='popover'][data-part='content'] {
  @apply bg-base;
  @apply border border-base rounded-md overflow-hidden;
}

[data-scope='popover'][data-part='content'].bg-blur {
  @apply bg-blur;
}

[data-scope='popover'][data-part='content'].black {
  @apply bg-black;
}

[data-scope='popover'][data-part='content'].sm {
  @apply text-xs px-2 py-1 border border-dark max-w-sm;
}

[data-scope='popover'][data-part='content'][data-state='open'] {
  animation: anim-scale-in 200ms ease-out;
}
 
[data-scope='popover'][data-part='content'][data-state='closed'] {
  animation: anim-scale-out 200ms ease-in;
}

[data-scope='popover'][data-part='content'][data-state='open'].bottom-in {
  animation: anim-bottom-in 200ms ease-out;
}
 
[data-scope='popover'][data-part='content'][data-state='closed'].bottom-in {
  animation: anim-bottom-out 200ms ease-in;
}

